body {
  background-color: lightgrey;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: lightgrey;
  gap: 15px;
  padding: 16px;
}

.card {
  height: 250px;
  background-color: white;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

form * {
  margin: 8px;
}

form button {
  border-radius: 8px;
  padding: 4px;
}

.card button {
  border-radius: 8px;
  padding: 4px;
  margin: 4px;
  width: 50%;
}

.delete {
  background-color: lightcoral;
  color: white;
}

#add-book {
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  width: 30%;
  font-size: 16px;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
